%html
  %head
    %link{:href => "http://fonts.googleapis.com/css?family=Signika:400,700|Noticia+Text:400,400italic", :rel => "stylesheet", :type => "text/css"}
      %script{:src => "js/d3.v3.min.js"}
      %script{:src => "js/jquery.min.js"}
      %script{:src => "js/bootstrap.min.js"}
      %link{:href => "css/bootstrap.css", :rel => "stylesheet"}
      %link{:href => "css/vis.css", :rel => "stylesheet"}
      %title Optimisation visualiser
  %body{:onload => "loadAllData();"}
    .navbar
      %a.navbar-brand{:href => "#"} OptVis
      .btn-group.pull-right{:style => "margin-left:10px;"}
        %button.btn.btn-select.navbar-btn.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
          Load objective dataset
          %span.caret{:style => "margin-left: 10px;"}
        %ul.dropdown-menu
          %li
            %a{:href => "#"} n50
          %li
            %a{:href => "#"} longest contig
          %li
            %a{:href => "#"} reads mapped
          %li
            %a{:href => "#"} conditional annotations
      .btn-group.pull-right{:style => "margin-left:10px;"}
        %button.btn.btn-default.navbar-btn.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
          Choose optimiser
          %span.caret{:style => "margin-left: 10px;"}
        %ul.dropdown-menu
          %li
            %a{:href => "#"} Tabu Search
          %li
            %a{:href => "#"} Genetic Algorithm
    .row
      .col-lg-9
        #main-panel.panel.panel-primary
          .panel-heading
            Visualisation area
          .row
            #top-left.col-lg-1
            #top-main.col-lg-11
          .row
            #left.col-lg-1
            #main.col-lg-11
      .col-lg-3
        .panel.panel-primary
          .panel-heading
            Data
          %table.table.table-striped
            %tr
              %td
                %h3 Optimum:
              %td#opt.datum
            %tr
              %td
                %h3 Iterations:
              %td#iter.datum
            %tr
              %td
                %h3 Levels:
              %td#levels.datum
            %tr
              %td
                %h3 Parameters:
              %td#params.datum
    %script{:src => "js/vis.js"}